@import "../stylevariables";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.view-container {
  @include flexCenter;
  padding-top: 80px;
  max-width: 78rem;
  margin: auto;
}

@media (max-width: 900px) {
  .view-card {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
  }
}

.view-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 30px;
  width: 100%;
}

.product-info {
  display: grid;
  width: 100%;
  grid-template-rows: max-content max-content max-content max-content max-content;
  column-gap: 25px;
  row-gap: 10px;
  align-items: center;
}

.v-img-container {
  width: 100%;
}
.view-img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.view-title {
  font-weight: bold;
  font-size: 1.75rem;
  margin: 0px;
}

.view-price {
  font-size: 2rem;
  margin: 0;
}

.view-description {
  padding-bottom: 0px;
  color: rgba(37, 37, 37, 0.84);
}

.qty-input {
  color: rgb(32, 32, 32);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f5f3f4;
  background-color: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}

ul {
  list-style-type: none;
}

.add-to-cart-btn {
  width: fit-content;
  button {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(242 245 250);
    padding: 1rem;
    background-color: #161a1d;
    border: 1px solid rgba(255, 255, 255, 0.064);
    border-radius: 10px;

    &:hover {
      outline: none;
      border-color: rgba(242, 245, 250, 0.069);
      box-shadow: 0 0 10px rgba(242, 245, 250, 0.245);
    }
  }
}
