$textColor: #161a1ddc;

@mixin headerText {
  color: #161a1ddc;
  font-size: 2em;
  font-weight: 700;
  padding-top: 15px;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
