@import "../stylevariables";

.products-view {
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.products-container {
  max-width: 78rem;
  margin: auto;
  display: flex;
  justify-content: center;
  display: flex;
}

.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.product-card {
  padding: 1.5rem;
  width: 300px;
  max-height: 300px;

  &:hover {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 0.5s ease;
  }
}

.img-container {
  height: 150px;
  @include flexCenter;
  background-color: white;
}

.product-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  object-fit: fill;
}

.product-desc {
  display: flex;
  flex-direction: column;
}

p {
  text-align: start;
}

.product-title {
  color: $textColor;
  font-weight: bold;
  font-size: 1rem;
  height: 20px;
  margin-bottom: 25px;
}

.product-price {
  color: #161a1d;
  height: 10px;
  font-size: 1.15rem;
  font-weight: 600;
}

.product-category {
  border-top: 1px solid rgba(0, 0, 0, 0.097);
  padding-top: 5px;
  color: rgba(10, 10, 11, 0.649);
}

li.pointer {
  cursor: pointer;
}
